allure-python-commons==2.13.2
allure-robotframework==2.13.2
Appium-Python-Client==3.2.1
awscli==1.33.12
beautifulsoup4==4.12.3
jsonpath-ng==1.6.1
jsonschema==4.22.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pdf2text==1.0.0
pdfminer==20191125
pdfminer.six==20240706
pdfminer2==20151206
phonenumbers==8.13.36
pillow==10.3.0
pluggy==1.5.0
ply==3.11
requests==2.32.2
requests-toolbelt==0.10.1
robotframework==6.1.1
robotframework-appiumlibrary==2.0.0
robotframework-datadriver==1.11.1
robotframework-doctestlibrary==0.22.0
robotframework-imaplibrary==0.3.0
robotframework-imaplibrary2==0.4.6
robotframework-jsonlibrary==0.5
robotframework-pabot==2.16.0
robotframework-pdf2textlibrary==1.0.1
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-retryfailed==0.2.0
robotframework-saucelabs==0.2.1
robotframework-seleniumlibrary==6.2.0
robotframework-stacktrace==0.4.1
selenium==4.15.2
setuptools==69.5.1
